.chat {
  flex: 0.65;
  display: flex;
  flex-direction: column;
}
@media (min-width: 601px) and (max-width: 768px) {
  .chat {
    height: auto;
    width: 64%;
  }
}

.chat__header {
  padding-top: 15px;
  padding-left: 25px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid lightgrey;
}

@media (min-width: 601px) and (max-width: 768px) {
  .chat__header {
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
  }
}


.chat__headerInfo {
  flex: 1;
  padding-left: 20px;
  padding-bottom: 5px;
}

@media (min-width: 601px) and (max-width: 768px) {
  .chat__headerInfo {
    font-size: 16px;
    margin-top: 5px;
    padding-left: 10px;
  }
}

.chat__headerInfo > h3 {
  margin-bottom: 3px;
  font-weight: 500;
}

.chat__headerInfo > p {
  color: grey;
}

.chat__body {
  background-color: #f6f6f6;
  flex: 1;
  padding: 5px;
  overflow: scroll;
  border-bottom: 2px solid lightgrey;
}

@media (min-width: 601px) and (max-width: 768px) {
  .chat__body {
    padding: 0;
    margin: 0;
  }
}

.chat__bodyMessage {
  margin: 15px;
  padding: 10px;
}

@media (min-width: 601px) and (max-width: 768px) {
  .chat__bodyMessage {
    margin: 5px;
    padding: 5px;
  }
  .chat__bodyMessage > p {
    font-size: 15px;
  }
}

.chat__message {
  position: relative;
  width: fit-content;
  color: #dcdcdc;
  text-align: left;
  margin-left: 15px;
  margin-right: 15px;
  padding: 20px;
  border-radius: 50px;
  background-color: #49796b;
}

@media (min-width: 601px) and (max-width: 768px) {
  .chat__message {
    margin-left: 3px;
    margin-right: 3px;
    padding: 10px;
    border-radius: 25px;
  }
}


.chat__receiver {
  position: relative;
  margin-left: auto;
  background-color: #dcdcdc;
  color: #474747;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 50px;
}

@media (min-width: 601px) and (max-width: 768px) {
  .chat__receiver {
    width: fit-content; 
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.chat__timestemp {
  color: #474747;
  display: flex;
  width: 200px;
  margin-left: 15px;
  margin-bottom: -60px;
  padding: 20px;
}

.chat__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  background-color: #8fbc8f; 
}


.chat__footer > form {
  flex: 1;
  display: flex;
  background-color: white;
  border-radius: 40px;
  margin: 25px;
}

.chat__footer > form > input {
  flex: 1;
  border-radius: 30px;
  padding-left: 20px;
  font-size: medium;
  border: none;
}

input:focus {
  outline: none !important;
}

.chat__footer > form > button {
  width: 60px;
  height: 40px;
  margin: 10px;
  border: white;
  background-color: white;
}

.sendIcon {
  opacity: 0.6;
}

