.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.35;
  border-right: 3px solid lightgrey;
}

.sidebar_header {
  background-color: #dadbd3;
  min-width: 10vw;
  padding-left: 24px;
  padding-top: 15px;
}

.sidebar__search {
  display: flex;
  align-items: center;
  background-color: #dadbd3;
  height: 40px;
  padding: 15px;
  border-bottom: 3px solid lightgrey;
}

.searchInput {
  position: absolute;
  margin-bottom: -180px;
  margin-left: 5px;
  width: 25%;
  border-radius: 10px;
  background-color: #96ded1;
  list-style: none;
  z-index: 111;
  max-height: 240px;
  height: auto;
  overflow: auto;
}

.searchInputItem {
  padding: 5px;
}

.searchInputItem:hover {
  cursor: pointer;
}

.sidebar__searchContainer {
  background-color: white;
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  border-radius: 20px;
}

.sidebar__searchContainer > input {
  color: gray;
  border: none;
  padding: 0;
  margin-left: 10px;
}

.sidebar_chats {
  background-color: #f6f6f6;
  flex: 1;
  overflow: scroll;
}

.sidebar_chats > h2 {
  margin: 30px;
}

.search {
  margin-left: 15px;
}
